@tailwind base;

@tailwind components;

@tailwind utilities;

body{
  direction: rtl;
}

@font-face {
  font-family: 'IRANSansWeb';
  src:
    url('/fonts/persian/IRANSansWeb/IRANSansWeb.woff2') format('woff2'),
    url('/fonts/persian/IRANSansWeb/IRANSansWeb.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansWeb';
  src:
    url('/fonts/persian/IRANSansWeb_Medium/IRANSansWeb_Medium.woff2')
      format('woff2'),
    url('/fonts/persian/IRANSansWeb_Medium/IRANSansWeb_Medium.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansWeb';
  src:
    url('/fonts/persian/IRANSansWeb_Bold/IRANSansWeb_Bold.woff2')
      format('woff2'),
    url('/fonts/persian/IRANSansWeb_Bold/IRANSansWeb_Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansWebFaNum';
  src:
    url('/fonts/persian/IRANSansWebFaNum/IRANSansWebFaNum.woff2')
      format('woff2'),
    url('/fonts/persian/IRANSansWebFaNum/IRANSansWebFaNum.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansWebFaNum';
  src:
    url('/fonts/persian/IRANSansWebFaNum_Medium/IRANSansWebFaNum_Medium.woff2')
      format('woff2'),
    url('/fonts/persian/IRANSansWebFaNum_Medium/IRANSansWebFaNum_Medium.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IRANSansWebFaNum';
  src:
    url('/fonts/persian/IRANSansWebFaNum_Bold/IRANSansWebFaNum_Bold.woff2')
      format('woff2'),
    url('/fonts/persian/IRANSansWebFaNum_Bold/IRANSansWebFaNum_Bold.woff')
      format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: 'IRANSansWeb', 'IRANSansWebFaNum', 'sans-serif' !important;
  box-sizing: border-box;
}
.layout{
  background-image: url('/assets/images/bg.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio:  auto 3 / 1;
  background-position: top center;
}